$spacing-baseline: 1rem;

$spacing-2: $spacing-baseline * 0.125;
$spacing-4: $spacing-baseline * 0.25;
$spacing-8: $spacing-baseline * 0.5;
$spacing-12: $spacing-baseline * 0.75;
$spacing-16: $spacing-baseline;
$spacing-20: $spacing-baseline * 1.25;
$spacing-24: $spacing-baseline * 1.5;
$spacing-28: $spacing-baseline * 1.75;
$spacing-32: $spacing-baseline * 2;
$spacing-36: $spacing-baseline * 2.25;
$spacing-40: $spacing-baseline * 2.5;
$spacing-44: $spacing-baseline * 2.75;
$spacing-48: $spacing-baseline * 3;
$spacing-64: $spacing-baseline * 4;
