@import "./mixin.scss";

@mixin asvThemeDark {
  @include createTheme(
    $level0: #1d2024,
    $level1: #17191c,
    $level2: #101214,
    $level3: #070809,
    $level4: #ffffff,
    $colorCode: (
      255,
      255,
      255,
    )
  );
}

.asv-theme-dark {
  @include asvThemeDark;
}
