@mixin asvThemeLight() {
  @include createTheme(
    $level0: #ffffff,
    $level1: #f6f7f8,
    $level2: #f0f1f2,
    $level3: #e6e7e8,
    $level4: #0b1928,
    $colorCode: (
      11,
      25,
      40,
    )
  );
}

.asv-theme-light {
  @include asvThemeLight;
}
